.advisor-container{
	position: fixed !important;

}

#advisor{
	min-height: 70vh;
	max-height: 70vh;
	overflow: scroll;
}
#progress{
	position: relative;
	margin-top: 25%;
}
#proposition{
	padding: 5px;
}
#arrow-left{
	float: left;font-size: 50px;
}
#arrow-right{
	float: right;font-size: 50px;
}
#fridge-panel{
	overflow-y: scroll;
	height: 60vh;
	padding-left: 50px
}
.fixed{
	position: fixed !important;
}
.close-button{
	position: relative;
	color: black !important;
	margin-right: 5px;
	margin-left: 5px;
	text-shadow: 1px 1px #aaaaaa;
}
.close-button:hover{
	color: lightgrey !important;
}
.responsive-square{
	width:100%;
	padding-top: 50%;
	padding-bottom: 50%;
	height: 0;
}
.responsive-square-img{
	width:auto;
	height: 50%;
}
#food-panel{
	max-height: 50vh;
	overflow: scroll;
}