extends layout

block content
	.container
		col-md-12
			.jumbotron
				h1.lead About
				p 
					| Cooking genie is an simple end project for 2015 summer database course at Wroclaw University. The
					| principal idea of the app is to provide user info about what he can cook with his ingredients
					| with respect to his diet. App is based on nodejs server with multiple plugins like node-postgres,
					| passportjs, express,express-session, connect-flash and many others. From client side app consists 
					| of boostrap,jquery,chart.js and nicescroll.js. For the more info about the app take a look into the manual.
