extends basic_layout

block extended_layout	
	body
		if error && error != ""
			.alert.alert-danger.alert-dissmiss(role='alert')
				button(type="button",data-dismiss="alert").close x
				p 
					= error
		if success && success != ""
			.alert.alert-success.alert-dissmiss(role='alert')
				button(type="button",data-dismiss="alert").close x
				p 
					= success
		nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
			.container
					.navbar-header
						a.navbar-brand(href="#") Cooking genie
					.navbar-collapse.collapse(id="bs-example-navbar-collapse-1")
						ul.nav.navbar-nav
							li(class= page == "index" ? "active" : undefined)
								a(href="/") Home
							li(class= page == "products" ? "active" : undefined)
								a(href="/products.html") Products
						form(action="/search",method="POST").navbar-form.navbar-left
							.form-group
								input(type="text",placeholder="Search",name="query").form-control
							button(type="submit").btn.btn-default Submit
						ul.nav.navbar-nav
							li(class= page == "manage" ? "active" : undefined)
								a("href"="/manage") Manage
							li(class= page == "about" ? "active" : undefined)
								a(href="/about") About
						ul.nav.navbar-nav.navbar-right
							li(class= page == "account" ? "active" : undefined)
								a(href="/account") Account
							li
								a(href="/signout").glyphicon.glyphicon-log-out
						p.navbar-text.navbar-right= user.name + " "+user.surname
						img(src="http://gravatar.com/avatar/#{md5}?s=35").navbar-right.navbar-brand
	block content
	script(src="/javascripts/jquery-2.1.4.min.js")
	script(src="/javascripts/jquery-ui.js")
	script(src="/javascripts/bootstrap.min.js")
	script(src="/javascripts/jquery.nicescroll.min.js")
	//-provides support for page specific javascript
	if javascript
		script(src="/javascripts/#{javascript}")
