extends layout

block content
	.container
		.panel.panel-default
			.panel-heading
				h2 Products
			.panem-body
				for product in products
					.food-tile
						a(href="products/#{product.product_id}")
							img(src="#{product.img_url}").tile-img
						.title-bar
							span.tile-title= product.name
					
